body{
background-color: antiquewhite;
margin: 150px;

}
h1{
color: black;
font-size: 30px;
text-align: center;
line-height: 2px;
}
h3{
color: brown;

}
hr{
color: aqua;

}
img{
    margin-left: 280px;
    border-radius: 90px;
    
}