h1{


    color: brown;
font-size: 40px;
text-align: center;
background-color: antiquewhite;
line-height: 80px;
text-shadow:  8px 8px 8px red;


}


h1:hover{
background-color: aquamarine;
  color: black;  
}

p{
font-weight: bolder;
font-style: italic;

}
img{
width: 300px;
height:200px;
border-radius: 20px;
}

a{
background-color: blueviolet;
margin-right: 20px;
padding: 10px;
border-radius: 10px;
color: azure;
text-decoration: none;

}


a:hover{
background-color: chocolate;


}