form{
background-color: aquamarine;
width: 500px;
  margin: 0 auto; 
padding: 30px;
border-radius: 20px;
box-shadow:0 0 12px tomato;

}

legend{
text-align: center;
margin-bottom: 20px;
font-size: 30px;
font-weight: bolder;
text-shadow: 8px 0 8px greenyellow ;
}
label{
font-size: medium;
font-family: sans-serif;
}
input[type=text], input[type=email], input[type=password], 
input[type=date], input[type=datetime-local],input[type=number],  
input[type=select ]{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
}
button{
background-color: brown;
 color: beige;
padding: 10px;
border-radius: 10px;
width: 100%;
}
body{
background-image: url(../assets/backgroud.png);
background-size: cover;
background-repeat: no repeat;

}